<dx-data-grid
  id="gridContainer"
  *ngIf="userTable; else loader"
  [dataSource]="userTable"
  [masterDetail]="{ enabled: true, template: 'detail' }"
  [showBorders]="true">    
  <dxo-paging [pageSize]="25"></dxo-paging>

  <dxo-search-panel 
    [visible]="true" 
    [width]="240" 
    placeholder="Search..."></dxo-search-panel>

  <dxi-column dataField="Photo" cellTemplate="photo" [width]="80">
    <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
  </dxi-column>
  <div *dxTemplate="let data of 'photo'">
    <img [src]="data.data.picture.thumbnail" width="70"> 
  </div>

  <dxi-column dataField="name"></dxi-column>  
  <dxi-column dataField="gender"  *ngIf="filters.gender"></dxi-column>
  <dxi-column dataField="cell" *ngIf="filters.phone"></dxi-column>

  <div *dxTemplate="let employee of 'detail'">
    <dx-data-grid 
      [dataSource]="[employee.key]"
      [showBorders]="true">

      <dxi-column dataField="Сity" cellTemplate="city" *ngIf="filters.city"></dxi-column>
      <div *dxTemplate="let data of 'city'">
        {{ data.data.location.city }}
      </div>

      <dxi-column dataField="Street" cellTemplate="street" *ngIf="filters.street"></dxi-column>
      <div *dxTemplate="let data of 'street'">
        {{ data.data.location.street }}
      </div>

      <dxi-column dataField="email"  *ngIf="filters.email"></dxi-column>
    </dx-data-grid>
  </div>
</dx-data-grid>

<ng-template #loader>
  loading...
</ng-template>