<div class="wrapper">
  <form [formGroup]="form">
    <div class="custom-control custom-checkbox mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="city" formControlName="city">
      <label class="custom-control-label" for="city">City</label>
    </div>

    <div class="custom-control custom-checkbox mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="gender" formControlName="gender">
      <label class="custom-control-label" for="gender">Gender</label>
    </div>
  
    <div class="custom-control custom-checkbox mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="street" formControlName="street">
      <label class="custom-control-label" for="street">Street</label>
    </div>
  
    <div class="custom-control custom-checkbox mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="email" formControlName="email">
      <label class="custom-control-label" for="email">Email</label>
    </div>
  
    <div class="custom-control custom-checkbox mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="phone" formControlName="phone">
      <label class="custom-control-label" for="phone">Phone</label>
    </div>
  </form>
</div>

